<html>

<head>
  <link rel="stylesheet" href="/stylesheets/login.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <title>Login</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Login</p>
    <form class="form1" method="post" action="/login">
      <input class="un " type="text" align="center" placeholder="Username" name="username">
      <input class="pass" type="password" align="center" placeholder="Password" name="password">
      <!-- <a class="submit" align="center">Sign in</a> -->
      <button class="submit">Login</button>
      <a href="/signup" class="signupp">Signup</a>       
    </div>
     
</body>

</html>